.form__name {
    display: flex;
    position: relative;
}

.form__nameInput {
    width: 100%;
    font-size: 16px;
    padding: 16px 0 30px 16px;
    outline: none;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    height: 5px;
   
}

.form__nameInput:focus::placeholder {
    opacity: 50%;
    
}

