.form__message{
    width: 100%;
    box-sizing: border-box;
    resize: none;
    border-style: 0;
    outline: none;
    padding: 15px;
    font-size: 16px;

    width: 560px;
    height: 82px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    }

.form__message::placeholder {
    color: black;
    
    
}